%h3 #{@issue.number} - #{@issue.title}
.body= GitHub::Markdown.render_gfm(@issue.body).html_safe

%ul.unstyled.comments
  = render @issue.comments

= render 'comments/form', project: @project, issue: @issue, comment: @comment