%h3 #{@issue.number} - #{@issue.title}

%h4= @issue.title
%p= @issue.body

%hr
%ul.unstyled.comments
  = render @issue.comments

= render 'comments/form', project: @project, issue: @issue, comment: @comment