%h3 Project Settings
%h4 #{@project.owner}/#{@project.name}

%h5 Users
- @project.users.each do |user|
  %p
    = user.github_login
    = link_to "invite(not working yet)", invite_user_path(user)

%p
  = link_to "Destroy Project", project_path(@project), method: 'delete', class: 'btn btn-danger'