- if @project.imported_at
  .row
    .span8
      %h1 #{@project.owner}/#{@project.name}
    .span4
      .pull-right
        = link_to "New List", new_project_label_path(@project), :class => "btn fancybox fancybox.ajax"
        %a.btn{href: '#newIssue', data: { toggle: 'modal', target: '#newIssue' }} New Issue
        #newIssue.modal.hide.fade
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h3 New Issue
          .modal-body
            = render 'issues/form', project: @project, issue: @new_issue
  .row
    .span3
      %h3 The Pile
      %ul.list.sortable.unstyled{:data => { :model => '', :project_id => @project.id,  :id => ''}}
        = render @project.issues.not_on_list.rank(:priority)

    - @project.lists.each do |list|
      .span3
        %h3= list.name.titleize
        %ul.list.sortable.unstyled{:data => { :model => 'Label', :project_id => @project.id, :id => list.id }}
          = render list.list_issues.rank(:priority)

    .span3.draggables
      %h3 Team
      #team-members
        - @project.users.each do |user|
          = image_tag user.avatar, :size => '50x50', :title => user.github_login, :class => 'user', :data => { :id => user.id, :model => 'User' } 
      %h3 Labels
      = render @project.labels
  .row
    .span12
      = link_to "Project Settings", settings_project_path(@project)
- else
  %h1 #{@project.owner}/#{@project.name}
  %p.alert.alert-error
    %strong Import in progress!
    %p We are still importing your project into Gitomic. If you refresh we might have finished already :)