.row
  .span8
    %h1 #{@project.owner}/#{@project.name}
  .span4
    .pull-right
      = link_to "New List", new_project_list_path(@project), :class => "btn"
      = link_to "New Issue", new_project_issue_path(@project), :class => "btn"

.row
  .span4
    %h3 Haystack
    %ul.sortable.unstyled{:id => "icebox", :data => { :project_id => @project.id, :list_id => nil }}
      = render @project.issues.without_list.rank(:priority)

  .span3
    %h3 Team
    #team-members
      - @project.users.each do |user|
        = image_tag user.avatar, :size => '50x50', :title => user.github_login, :class => 'avatar' 
    %h3 Labels
    = render @project.labels