- if @project.imported_at
  .row-fluid
    .span8
      %h1 #{@project.owner}/#{@project.name}
    .span4
      .pull-right
        / = link_to "New List", new_project_label_path(@project), :class => "btn fancybox fancybox.ajax"
        %a.btn{href: '#newIssue', data: { toggle: 'modal', target: '#newIssue' }} New Issue
        #newIssue.modal.hide.fade
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h3 New Issue
          .modal-body
            = render 'issues/form', project: @project, issue: @new_issue
  .row-fluid
    = render 'draggables'
    .span3
      %h3 Issues
      %ul.list.sortable.unstyled{:data => { :model => '', :project_id => @project.id,  :id => ''}}
        = render @project.issues.not_on_list.rank(:priority)
    .span7
      #issue
        - if @issue
          = render :template => 'issues/show'

- else
  %h1 #{@project.owner}/#{@project.name}
  %p.alert.alert-error
    %strong Import in progress!
    %p We are still importing your project into Gitomic. If you refresh we might have finished already :)