%h1 #{@project.owner}/#{@project.name}

= link_to "New Issue", new_project_issue_path(@project), :class => "btn"

.row
  .span4
    %h3 Backlog
    %ul.sortable.unstyled{:id => "backlog", :data => { :project_id => @project.id }}
      = render @backlog
  .span4
    %h3 Icebox
    %ul.sortable.unstyled{:id => "icebox", :data => { :project_id => @project.id }}
      = render @icebox
    
