%h1= @project.owner
%h2= @project.name

= link_to "New Issue", new_project_issue_path(@project), :class => "btn"

%ul.sortable.unstyled
  - @issues.each do |issue|
    %li.well
      %p 
        #{issue.number} #{issue.title}
        = link_to "Edit Issue", edit_project_issue_path(@project,issue)
        :markdown
          #{issue.body}