%h1 #{@project.owner}/#{@project.name}

= link_to "New Issue", new_project_issue_path(@project), :class => "btn"

.row
  .span4
    %h3 Backlog
    %ul.sortable.unstyled{:id => "backlog"}
      - @backlog.each do |issue|
        %li{:id => "issue_#{issue.id}"}
          = issue.number
          = link_to issue.title , edit_project_issue_path(@project,issue)
  .span4
    %h3 Icebox
    %ul.sortable.unstyled{:id => "icebox"}
      - @icebox.each do |issue|
        %li{:id => "issue_#{issue.id}"}
          = issue.number
          = link_to issue.title , edit_project_issue_path(@project,issue)
    
