= link_to "Gitomic", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to "Projects", projects_path
    %li
      = link_to "Import Project", import_projects_path
    %li
      = link_to 'Logout', signout_path
  - else
    %li
      = link_to 'Login', '/auth/github'
.loader.pull-right
  = image_tag 'loader.gif'
