<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Gitomic"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:name =>"google-site-verification", :content =>"DbF7tzSHASNzgUi0IOX3D9pExwER4Cn_E0gdy_h0zvc"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main